/* Global Styles */
.App {
    text-align: center;
}

/* Logo Animation */
.App-logo {
    height: 40vmin;
    pointer-events: none;
    animation: App-logo-spin 20s linear infinite;
}

/* Header Styling */
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

/* Links */
.App-link {
    color: #61dafb;
}

/* Keyframes for Logo */
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
